:root {
  --g-selection-background: #4d53e8;
  --g-editor-background: #f2f3f5;
  --g-playground-select: var(--g-selection-background);
  --g-playground-hover: var(--g-selection-background);
  --g-playground-line: var(--g-selection-background);
  --g-playground-blur: #999;
  --g-playground-selectBox-outline: var(--g-selection-background);
  --g-playground-selectBox-background: rgba(141, 144, 231, 0.1);
  --g-playground-select-hover-background: rgba(77, 83, 232, 0.1);
  --g-playground-select-control-size: 12px;
}

.gedit-playground {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  overflow: hidden;
  user-select: none;
  outline: none;
  box-sizing: border-box;
  background-color: var(--g-editor-background);
}

.gedit-playground-scroll-right {
  position: absolute;
  right: 2px;
  height: 100vh;
  width: 7px;
  z-index: 10;
}

.gedit-playground-scroll-bottom {
  position: absolute;
  bottom: 2px;
  width: 100vw;
  height: 7px;
  z-index: 10;
}

.gedit-playground-scroll-right-block {
  position: absolute;
  opacity: 0.3;
  border-radius: 3.5px;
}

.gedit-playground-scroll-right-block:hover {
  opacity: 0.6;
}

.gedit-playground-scroll-bottom-block {
  position: absolute;
  opacity: 0.3;
  border-radius: 3.5px;
}

.gedit-playground-scroll-bottom-block:hover {
  opacity: 0.6;
}

.gedit-playground-scroll-hidden {
  opacity: 0;
}

.gedit-playground * {
  box-sizing: border-box;
}

.gedit-playground-loading {
  position: absolute;
  color: white;
  left: 50%;
  top: 50%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.8s;
  flex-direction: column;
  text-align: center;
  opacity: 0.8;
}

.gedit-hidden {
  display: none;
}

.gedit-playground-pipeline {
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.gedit-playground-pipeline::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  left: 0;
  top: 0;
}

.gedit-playground-layer {
  position: absolute;
  overflow: visible;
}

.gedit-selector-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  z-index: 33;
  outline: 1px solid var(--g-playground-selectBox-outline);
  background-color: var(--g-playground-selectBox-background);
}

.gedit-selector-box-block {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  z-index: 9999;
  display: none;
  background-color: rgba(0, 0, 0, 0);
}

.gedit-selector-bounds-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  outline: 1px solid var(--g-playground-selectBox-outline);
  background-color: #f0f4ff;
}

.gedit-selector-bounds-foreground {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  z-index: 33;
  background: rgba(255, 255, 255, 0);
}

.gedit-flow-activity-node {
  position: absolute;
}

.gedit-grid-svg {
  display: block;
  position: absolute;
  left: 20px;
  top: 20px;
  width: 0;
  height: 0;
}
