# 文件路径与代码负责人分配
# 对整个仓库设置代码负责人
* @xiamidaxia @luics @dragooncjw  @YuanHeDx @sanmaopep @louisyoungx

# 对特定目录设置代码负责人
/apps/docs/ @xiamidaxia @dragooncjw @YuanHeDx @sanmaopep @louisyoungx
/apps/demo-node-form/ @xiamidaxia @dragooncjw @YuanHeDx
/packages/node-engine/ @xiamidaxia @dragooncjw @YuanHeDx
/packages/variable-engine/ @xiamidaxia @dragooncjw @sanmaopep
/packages/plugins/variable-plugin/ @xiamidaxia @dragooncjw @sanmaopep
/packages/plugins/node-variable-plugin/ @xiamidaxia @dragooncjw @sanmaopep
/packages/plugins/node-core-plugin/ @xiamidaxia @dragooncjw @YuanHeDx
