.flowgram-node-render {
  align-items: flex-start;
  background-color: #fff;
  border: 1px solid rgba(6, 7, 9, 0.15);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  min-width: 360px;
  width: 100%;
  height: 100%;
}

.flowgram-node-render.selected {
  border: 1px solid var(--coz-stroke-hglt, #4e40e5);
}
